extends layout


block header
    //- include includes/header


block content
    .content
        .row
            .column-12
                ul
                    for post in autopages.readDirectory('posts').reverse()
                        li
                            a(href="./posts/#{autopages.stripExtension(post)}")
                                | #{autopages.stripExtension(post)}
