extends layout


block header
    //- include includes/header


block content
    .content
        for post in autopages.readDirectory('posts')
            .row
                .column-12
                    != #{autopages.parseMarkdown('posts/' + post)}

